*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Robot';
}

.base{
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom left, #1C3ADF, #200C5B);
}

.box{
    width: 500px;
    background-color: white;
    border-radius: 10px;
}

.content{
    margin: 40px;
}

.tittle{
    margin-bottom: 4px;
}

.tittle-desc{
    font-size: 12px;
    color: grey;
    margin-bottom: 20px;
}

.input{
    font-weight: bold;
}

.input-box{
    border-width: 0px;
    background-color: #D5D5F5;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 40px;
    padding: 10px;
}

.password-box{
    display: flex;
    justify-content: space-between;
}

.lupa-password{
    color: #0645ad;
}

.login-button{
    background-color: #4844cc;
    padding: 15px 20px;
    text-align: center;
    color: white;
    font-weight: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.no-account{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: grey;
}

.create-now{
    color: red;
}