*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

.base{
    background-image: linear-gradient(to bottom left, #3ab3e0,#616fec);
    width: 100vw;
    height: 100vw;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

.left-box{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-title{
    color: white;
    font-size: 42px;
    margin-bottom: 30px;
}

.left-desc{
    color: white;
    margin-bottom: 30px;
}

.pricing-button{
    background-color: #00ca4d;
    color: white;
    font-weight: bold;
    padding: 10px 35px;
    border-radius: 30px;
}

.right-box{
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 50%;
}

.right-title{
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.input-box{
    border-color: transparent;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-bottom: 10px;
    padding: 10px;
}

.register-button{
    color: white;
    text-align: center;
    background-color: #1e81ff;
    border-radius: 30px;
    border-width: 0px;
    padding: 10px;
    
}
