*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.resep-create{
    padding: 20px;
}

.resep-create h2, input, select{
    margin-bottom: 10px;
}

.resep-create select,button{
    padding: 5px;
}