{% extends 'base.html' %}

{% block content %}

<a href="" class="btn btn-primary">add jasa</a>

<table class="table table-striped">
    <tr>
        <th>no</th>
        <th>name</th>
        <th>price</th>
    </tr>

    {% for x in jasa %}
    <tr>
        <td>-</td>
        <td>{{x.name}}</td>
        <td>{{x.harga}}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}