{% extends 'base.htm' %}

{% block table %}
<div class="container">
    <h5>Add Student</h5>
    <form id="survey-form" method="POST" action="{% url 'add_mahasiswa' %}">
        {% csrf_token %}
        <div class="labels">
            <label id="Nama_Mahasiswa-label" for="Nama_Mahasiswa">Nama Mahasiswa:</label>
        </div>
        <div class="input-tab">
            <input class="input-field" type="text" id="Nama_Mahasiswa" name="Nama_Mahasiswa" placeholder="Enter your name" required autofocus>
        </div>

        <div class="labels">
            <label id="Nim-label" for="Nim">NIM:</label>
        </div>
        <div class="input-tab">
            <input class="input-field" type="text" id="Nim" name="Nim" placeholder="Enter your Nim" required autofocus>
        </div>

        <div class="labels">
            <label for="dropdown">Prodi</label></div>
        <div class="input-tab">
            <select id="dropdown" name="Prodi_Mahasiswa">
              <option disabled value selected>Pilih prodi</option>
              {% for prodi in Prodis %}
              <option value="{{prodi.id}}">{{prodi.Prodi}}</option>
              {% endfor %}
            </select>
        </div>

        <div class="labels">
            <label id="Email-label" for="Email">Email:</label>
        </div>
        <div class="input-tab">
            <input class="input-field" type="Email" id="Email" name="Email" placeholder="Enter your email" required autofocus>
        </div>

        <div class="labels">
            <label id="Phone-label" for="Phone">Phone Number:</label>
        </div>
        <div class="input-tab">
            <input class="input-field" type="text" id="Phone" name="Phone" placeholder="Enter your Phone Number" required autofocus>
        </div>

      <div class="btn">
        <button id="submit" type="submit" name="submit" value="submit">Submit</button>
      </div>
    </form>
  </div>

{% endblock %}