{% extends 'base.htm' %}

{% block table %}
<html>
    <style>
table, th, td {
  border:1px solid black;
}
</style>
<body>
    
    <h2>Data Mahasiswa</h2>
    <form action="{% url 'search_siswa' %}" method="post">
        {% csrf_token %}
        <div class="">
            <label for="">Nama</label>
            <input value="{{mahasiswa.}}" type="text" name="name">
            <button id="submit" type="submit" name="submit" value="submit">Submit</button>
        </div>
        
    </form>
    
    <table style="width:100%">
            <tr>  
                <th>No</th>
                <th>Mahasiswa</th>
                <th>Jurusan</th>
                <th>Universitas</th>
            </tr>
            {% for mahasiswa in mahasiswa %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{mahasiswa.Nama_Mahasiswa}}</td>
                <td>{{mahasiswa.Prodi_Mahasiswa}}</td>
                <td>{{mahasiswa.Prodi_Mahasiswa.Universitas_Prodi}}</td>
            {% endfor %}
        </table>
        
        <p></p>
        
</body>
</html>
{% endblock %}