{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="section1">
    <div class="container section1-box">
        <div class="container section1-contents">
            <p>Welcome</p>
            <p>Start your day with awesome coffee</p>
            <a href="{% url 'products' %}"> 
                <div class="section1-look-button">SHOP NOW</div>
            </a>
        </div>
    </div>
</div>

<div class="container section2">
    <div class="section2-title">
        <h3>OUR PRODUCTS</h3>
    </div>

    <div class="section2-contents">
        <div class="section2-product">
            <div class="section2-image" style="background-image: url({{home_kopi.1.image.url}});"></div>
            <h3>{{home_kopi.1.title}}</h3>
            <p>{{home_kopi.1.description}}</p>
        </div>
    </div>
</div>

{% endblock %}