{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <h2>Products</h2>
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4 row-cols-lg-4">
            {% for x in daftar_kopi %}
            <div class="col">
                <img src="{{x.gambar.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{x.name}}</h5>
                    <p class="card-text">{{x.merek}}</p>
                    <a href="{% url 'productdetails' x.id %}">
                        <div class="section1-look-button">SEE MORE</div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div> 
    </div>
{% endblock %}