{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <h2>Product {{kopi_details.id}}</h2>
    </div>

    <div class="container product_details">
        <img src="{{kopi_details.gambar.url}}" alt="" style="margin-bottom: 20px">
        <h3>{{kopi.details.nama}}</h3>
        <p>{{kopi.details.description}}</p>
    </div>
{% endblock %}