*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    margin-bottom: 20px;
}

body{
    padding: 20px;
}

table{
    margin-bottom: 10px;
}

table, th, td{
    border: 1px solid grey;
    border-collapse: collapse;
}

th, td{
    padding: 8px;
}

.title{
    margin-bottom: 10px;
}

.list_form{
    display: flex;
    flex-direction: column;
}

.list_form input, label, select, p{
    margin-bottom: 10px;
}

.list_form input, select{
    margin-bottom: 20px;
    padding: 3px;
}

label, p{
    font-weight: bold;
}