{% extends 'base.html' %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}

    <div class="">
        <p>Question</p>
        <input type="text" name="question">
    </div>
    
    <div class="">
        <p>Option1</p>
        <input type="text" name="option1">
    </div>
    <div class="">
        <p>Option2</p>
        <input type="text" name="option2">
    </div>
    <div class="">
        <p>Option3</p>
        <input type="text" name="option3">
    </div>
    <div class="">
        <p>Option4</p>
        <input type="text" name="option4">
    </div>
    <div class="">
        <p>Option5</p>
        <input type="text" name="option5">
    </div>
    <div class="">
        <p>Answer</p>
        <input type="text" name="answer">
    </div>

    <button type="submit">Submit</button>

    
</form>
{% endblock %}