{% extends 'base.html' %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}

    <div class="">
        <p>test</p>
        <input type="text" name="test">
    </div>
    
    <div class="">
        <p>nama</p>
        <select name="nama" >
            {% for x in score %}
            <option value="{{x.nama}}">{{x.nama}}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="">
        <p>hewan</p>
        <input type="text" name="hewan">
    </div>
    

    <button type="submit">Submit</button>

    
</form>
{% endblock %}