{% extends 'base.html' %}
 
{% block content %}
<div class="container">
    <h1>Leaderboard <span><a class="Take-Your-Quiz btn btn-primary" href="{% url 'question' %}">Take your quiz</a></span></h1>
    <span><a class="Take-Your-Quiz btn btn-primary" href="{% url 'add' %}">Add Question</a></span>

        <div class="container ">
            {% for x in leaderboard %}
            <p>{{x.nama}} - {{x.score}}</p>
            {% endfor %}
        </div>

    </table>
</div>


{% endblock %}