{% extends 'base.html' %}

{% block content %}
<div class="center-item">
    <div class="content-box">
        <form method="POST" action="{% url 'insert' %}">
            {% csrf_token %}
            <div>
                <p>First Name</p>
                <input type="text" name="first_name">
            </div>
            <div>
                <p>Last Name</p>
                <input type="text" name="last_name">
            </div>
            <div>
                <p>Age</p>
                <input type="text" name="age">
            </div>
            <button type="submit" class="btn btn-success" name="Submit"></button>
        </form>
    </div>
</div>
{% endblock %}