{% extends 'base.html' %}

{% block content %}

<div class="container ">
<h1>QUIZAPP</h1>
 <form method='post' action=''>
    {% csrf_token %}
    <div class="labels">
        <label id="name-label" for="name">Nama:</label>
    </div>
    <div class="input-tab">
        <input class="input-field" type="text" id="nama" name="nama" placeholder="Enter your name" required autofocus>
    </div>
    {% for q  in questions%}
    <div class="form-group">
      <label for="question">{{q.question}}</label>
    </div>
    <div class="form-check">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="option1" checked>
            <label class="form-check-label" for="gridRadios1">
                {{q.option1}}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="option2">
            <label class="form-check-label" for="gridRadios2">
                {{q.option2}}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios3" value="option3">
            <label class="form-check-label" for="gridRadios1">
                {{q.option3}}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios4" value="option4">
            <label class="form-check-label" for="gridRadios2">
                {{q.option4}}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios5" value="option5">
            <label class="form-check-label" for="gridRadios2">
                {{q.option5}}
            </label>
        </div>
        <br>
    </div>    
    {% endfor %}
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
 
</div>
 

{% endblock %}