{% extends 'base.html' %}
 
{% block content %}
 
<div class="container ">
    <h1><span><a class="add-student btn btn-primary" href="{% url 'leaderboard_view' %}">See Leaderboard</a></span></h1><hr>
    <div class="card-columns" style="padding: 10px; margin: 20px;">
        <div class="card" allign="centre " style="width: 32rem; border:5px black solid">
            <div class="card-body">
                <h5 class="card-title">Score: {{score}}</h5>
 
                <p class="card-text">Percentage: {{percent}}%</p>
                <p class="card-text">Correct answers: {{correct}}</p>
                <p class="card-text">Incorrect answers: {{wrong}}</p>
                <h5>All the best for next quiz!</h5>
            </div>
        </div>
    </div>
 
</div>
 
{% endblock %}