{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Create Setoran Sampah</h2>

<form action="" method="POST">
    {% csrf_token %}
    <div class="container">
        <div class="list_form">
            <p>Tanggal Setoran</p>
            <input type="date" name="tanggal">
            <label for="nama_penyetor">Penyetor</label>
             <select name="penyetor" id="nama_penyetor">
                {% for items in users %}
                <option value="{{ items.id }}">{{items.username}}</option>
                {% endfor %}
             </select>
            <label for="jenis_sampah">Jenis Sampah</label>
             <select name="jenis" id="jenis_sampah">
                <option value="Plastik">Plastik</option>
                <option value="Ember">Ember</option>
                <option value="Kardus">Kardus</option>
             </select>
            <p>Jumlah Setoran</p>
            <input type="number" name="jumlah_setoran" placeholder="0">
            <p>Total Poin</p>
            <input type="number" name="total_poin" placeholder="0">
            <label for="pilihan_status">Status</label>
             <select name="status" id="pilihan_status">
                 <option value="Approved">Approved</option>
                 <option value="Menunggu Validasi">Menunggu Validasi</option>
             </select>
            <p>Pendapatan</p>
            <input type="number" name="Pendapatan" placeholder="0">
            <input type="submit" name="Submit">
            
        </div>
    </div>
</form>

{% endblock %}