{% extends 'base.html' %}

{% block content %}
<h2 class="title">Bank Sampah</h2>
<table>
    <tr>
        <th>No</th>
        <th>Tanggal & waktu setor</th>
        <th>Penyetor</th>
        <th>Jenis Sampah</th>
        <th>Jumlah Setoran (kg/unit)</th>
        <th>Total Poin</th>
        <th>Status</th>
        <th>Pendapatan</th>
        <th>Function</th> 
    </tr>
    {% for item in semua_sampah %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{item.tanggal}}</td>
        <td>{{item.penyetor}}</td>
        <td>{{item.jenis}}</td>
        <td>{{item.jumlah_setoran}}</td>
        <td>{{item.total_poin}}</td>
        <td>{{item.status}}</td>
        <td>{{item.pendapatan}}</td>
        <td><a href="{% url 'edit' item.id %}">Edit</a><a> </a><a href="{% url 'delete' item.id %}">Delete</a></td>      
    </tr>
    {% endfor %}
</table>
<a href="{% url 'create' %}">Create</a>
{% endblock %}