*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.section-content{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.left-panel{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-position: center bottom;
    background-size: cover;
    background-image: url('wallpaper.png');
    background-repeat: no-repeat;
    align-items: center;
    padding: 80px 20px;
}

.left-text{
    text-align: center;
    margin-bottom: 30px;
    color: white;
    margin-bottom: 30px;
}

.social-media{
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.118);
    border-radius: 20px;
    padding: 0.5rem;
}

.social-media div{
    margin: 0px 10px;
    transition: transform 0.2s ease;
}

.social-media div:hover{
    transform: scale(1.4);
}

.right-panel{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register{
    width: 100%;
    max-width: 700px;
    padding: 0px 40px;
}

.welcome{
    max-width: 500px;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 50px;
}

.right-form{
    display: flex;
    flex-direction: column;
}

.right-form p{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.right-form input{
    border-width: 0px;
    border-bottom-width:1px ;
    margin-bottom: 40px;
    padding: 8px 4px;
}

.input-checkbox{
    margin-bottom: 20px;
    font-size: 1rem;
}

input[type='checkbox']{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

button[type='submit']{
    border-width: 0px;
    background-color: #2d253a;
    color: white;
    padding: 15px;
    font-size: 1.1rem;
    border-radius: 20px;
}

.right-form input:focus-visible{
    outline: 0;
}

.right-form input:focus{
    box-shadow: 0px 0px 10px 2px #601ddc4d;
}

.right-form button:hover{
    background-color: #441992;
    transition: background-color 0.1s linear;
}

@media only screen and (max-width:500px){
    .left-panel{
        display: none;
    }
    .right-panel{
        width: 100%;
    }
}