{% extends 'base.html' %}

{% block content %}

<div class="contents">
    <form action="" method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}" ?</p>
        <input type="submit" value="Confirm">
    </form>
</div>

{% endblock %}