{% extends 'base.html' %}

{% block content %}

<div class="contents">
    <h2>Edit kaos {{object.id}}</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" value="Update">Submit</button>
    </form>
</div>

{% endblock %}