*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.section-content{
    height: 100vh;
    width: 100vw;
    background-image: url('wallpaper.jpg');
    background-size: cover;
    display: flex;
}

.left-panel{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.welcome{
    font-size: 4rem;
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px black ;
    margin-bottom: -30px;
}

.left-desc{
    font-size: 1rem;
    color: white;
    text-shadow: 1px 1px black;
    padding: 50px;
}

.social-media-text{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: -20px;
    margin-bottom: 20px;
}

.social-media{
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    background-color: rgb(16, 22, 37,0.7);
    border-radius: 30px;
    padding: 0.5rem;
    margin-bottom: 40px;
}

.social-media div{
    margin: 0px 10px;
    transition: transform 0.2s ease;
}

.social-media div:hover{
    transform: scale(1.4);
}

.more{
    margin-left: 400px;
    border-width: 0;
    background-color: #00ca4d;
    color: white;
    padding: 15px 50px;
    font-size: 1.1rem;
    border-radius: 30px;
}

.left-panel button:hover{
    background-color: #04682a;
}

.right-panel{
    width: 55%;
    height: 100%;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-box{
    width: 80% ;
    height: 90%;
    max-width: 700px;
    background-color: rgb(255, 255, 255,0.4);
    border-radius: 15px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}

.register{
    color: black;
    max-width: 500px;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;    
}

.right-panel input{
    padding: 20px 25px;
    margin-bottom: 20px;
    border-width: 0;
    border-radius: 10px;
}

button[type='submit']{
    padding: 20px 35px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    background-color:rgb(16, 22, 37) ;
}

.terms{
    font-weight: 700;
}