:root{
    --background-color: #1665DA;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container{
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
}

.container h3{
    padding: 30px;
}

h1,h2,h3,h4,h5{
    font-weight: bold;
    
}

ul{
    padding: 0;
    margin: 0;
}

.header-content{
    background-color: var(--background-color);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

header ul{
    list-style: none;
}

header img{
    width: 120px;
}

header li{
    display: inline-block;
    padding: 0 15px;
}

header li a{
    color: white;
    text-decoration: none;
}

.section1{
    background-color: var(--background-color);
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
}

.section1-content{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 0 200px 0;
}

.section1-content p, .section1-content h1{
    color: white;
    margin-bottom: 20px;
}

.section1-buttons > button:nth-child(1){
    color: var(--background-color);
    margin-right: 20px;
}

.section1-image{
    margin-top: -160px;
    margin-bottom: 120px;
}

.section1-image img{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.section2{
    margin-bottom: 120px;
}

.section2-content{
    text-align: center;
}

.section2-tittle{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.carousel-size{
    max-height: 600px;
}